.pikachu{
  background-color: #EAF6F6;
}
img:hover{
  background-color: #C689C6;
}
body{background-color: #EAF6F6;
}

h1{
  color: #B1B2FF;
}
h3{
  color: #66BFBF;
}
hr{
background-color: white;
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 5px;
  width: 8%;
}
